@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f8f1e6;
  font-family: 'JetBrains Mono', monospace;
  color: #222;
}

* {
  box-sizing: border-box;
}
